# Python
__pycache__/
*.pyc

# Virtual Environment
ai_env/

# Streamlit Secrets
.streamlit/secrets.toml

# Model Artifacts
models/*.pkl

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Windows